<h1 class="text-center">Cab Details</h1>
<div class="container">
    <a href="/register" class="btn btn-primary">+ New </a>
    <table class="table table-striped mt-4">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.firstName}}</td>
            <td>{{this.dataValues.lastName}}</td>
            <td>{{this.dataValues.email}}</td>
            <td>{{this.dataValues.password}}</td>
            <td>
                <a href="/update/{{this.dataValues.id}}">Edit</a> |
                <a href="/delete/{{this.dataValues.id}}" class="text-danger" onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
    <p class="text-end">You are logged in as: 
        <b>{{identity.firstName}} {{identity.lastName}}</b>
    </p>
</div>
<style>
   body{ width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

</style>